@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    body{
        @apply bg-primary text-secondary p-12 overflow-auto; 
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.875rem;
        text-align: justify;
    }
}
